<h1> <%= @user.username %> </h1>
<h3>Largest </h3>

<h4>Bio</h4>
<% if @user.bio %>
    <%= @user.bio %>
<% end %>
<p>
<td><a href="/<%=@user.username=>/profile/edit" class=" btn btn-default btn-xs">Edit Bio</a></td>
</p>