<h2><%= @scene.name %></h2>

<h4>Name:</h4>
<p> <%= @scene.name %></hp>
<h4>Description: </h4>
<p><%= @scene.description %></p>

<p><a href="/projects/<%= @project.id %>" class=" btn btn-default btn-xs">Back</a></p>