<h2><%= @setting.name %> </h2>

<h4>Name: </h4>
<p><%= @setting.name %><p>
<h4>Description:</h4>
<p><%= @setting.description %></p>

<p><a href="/projects/<%= @project.id %>" class=" btn btn-default btn-xs">Back</a></p>