
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 60%;
    margin-top: 0;
  }
}
</style>
</head>
<body>

<h2>Create New Setting:</h2>
<p>Enter the details of your new setting below.</p>
<p> 
    <form method="POST" action="/projects/:id/settings">
  <div class="row">
    <div class="control-label col-sm-2">
      <label for="name">Setting Name: </label>
    </div>
    <div class="col-75">
      <input type="text" name="name" placeholder="Setting Name">
    </div>
  </div>
  <div class="row">
    <div class="control-label col-sm-2">
      <label for="description">Description</label>
    </div>
    <div class="col-75">
      <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <div class=="col-75">
    <input type="submit" class=" btn btn-default btn-xs" value="Create">
  </div>
  <div class="col-75">
    <a href="/projects/<%= @project.id %>/settings" class=" btn btn-default btn-xs">Back</a></p>
  </div>
  </div>
  </form>

  </p>
</body>
</html>