<h1><%= @character.name %> </h1>
<hr>
<h2>Age:</h2>
<p><%= @character.age %>
<h2>Bio: <%= @character.bio %></h2>


<p><a href="/projects/<%= @project.id %>" class=" btn btn-default btn-xs">Back</a></p>