<h2><%= @character.name %> </h2>
<hr>
<h4>Age:</h4>
<p><%= @character.age %></p>
<h4>Bio: </h4>
<p><%= @character.bio %></p>

<p><a href="/projects/<%= @project.id %>" class=" btn btn-default btn-xs">Back</a></p>