
<!doctype html>
<html>
  <head>
<div class="jumbotron text_center">
    <h1> Welcome to Story Board Plus</h1>
</div>
    <% if !!logged_in? %>
        <p><a href="/<%= @user.username %>/profile"> <%=@user.username%></a> is currently logged in</p>
        <p><a href="/logout">Log Out</a></p></ul>
    <% else %>
        <ul><a href="/login">Log In</a></ul>
        <ul><a href="/signup">Sign Up</a></ul>
    <% end %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
 
    <div class="container">

      <%= yield %>
 

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>